---
import LinkButton from "./LinkButton.astro"

import GitHubIcon from "../icons/github.astro"
import LinkIcon from "../icons/link.astro"
import React from "../icons/react.astro"
import AstroIcon from "../icons/astro.astro"
import JavaScript from "../icons/javascript.astro"
import C from "../icons/c.astro"
import CPlus from "../icons/cplus.astro"
import Bootstrap from "../icons/bootstrap.astro"
import Tailwind from "../icons/tailwind.astro"
import CSS from "../icons/css.astro"
import HTML from "../icons/html.astro"
import Firebase from "../icons/firebase.astro"

const TAGS = {
  REACT: {
    name: "React",
    class: "bg-[#1a93a5] text-white",
    icon: React,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#e51300] text-white",
    icon: AstroIcon,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#ffcc02] text-white",
    icon: JavaScript,
  },
  C: {
    name: "C",
    class: "bg-[#659AD2] text-white",
    icon: C,
  },
  CPLUS: {
    name: "C++",
    class: "bg-[#659AD2] text-white",
    icon: CPlus,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#490093] text-white",
    icon: Bootstrap,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#0b8be0] text-white",
    icon: CSS,
  },
  HTML: {
    name: "HTML",
    class: "bg-[#ff693f] text-white",
    icon: HTML,
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#c6af2b] text-white",
    icon: Firebase,
  },
}


const PROJECTS = [
    {
        title : 'Portfolio - First portfolio created to show my projects',
        description: 'Portfolio created by Nicholas, web developer and student of systems engineering, where you will find all his important information along with the projects that led him to acquire his programming skills.',
        link: '',
        github: 'https://github.com/nicossher/Portfolio',
        image: '../../public/projects/portfolio.webp',
        tags: [TAGS.ASTRO, TAGS.TAILWIND]
    },
    {
        title : 'Hoops Central Store - Ecommerce',
        description: 'An e-commerce store project for the React JS course at Coderhouse. Product catalog with images and descriptions, shopping cart to add and manage products, database updates at the time of purchase, responsive design by Bootstrap.',
        link: 'https://hopp-central-store.netlify.app/',
        github: 'https://github.com/nicossher/tienda-ecommerce',
        image: '../../public/projects/hoopCentralStore.webp',
        tags: [TAGS.REACT, TAGS.BOOTSTRAP, TAGS.FIREBASE]
    },
    {
        title : 'Semantic Calculator - Flex & Bison',
        description: 'This project aims to create a fully functional calculator with semantic routines and dictionary handling recognition. It utilizes Flex to recognize a language with tokens such as Identifier, Integer, and Hexadecimal, as well as error tokens for general errors. Additionally, Bison is used to implement syntax grammar and a symbol table.',
        link: '',
        github: 'https://github.com/nicossher/calculadora-semantica',
        image: '../../public/projects/calculadora-semantica.webp',
        tags: [TAGS.C]
    }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"  src={image} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
          {title}
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHubIcon class="size-6" />
                  Code
                  
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <LinkIcon class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
        </div>
      </div>
    </article>
    ))
  }
  <div class="flex items-center justify-center w-full mx-auto px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
    <a href="/fullProjects">
    Watch more
    </a> 
  </div>
</div>
